/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Your Code Goes Here */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* 
------------------------------
    HEADER STYLES 
------------------------------
*/
header {
  background: linear-gradient(#d55eeca6 100%, #fff 0%),
    url(../images/earth_lights.png);
  background-position: center;
  background-size: cover;

  /* background: #8939aa; */
  height: 75vh;
}

header .navigation {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

header .navigation .logo {
  width: 378px;
  height: 54px;
  background: url(../images/boom_logo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  margin-left: 120px;
}

header .navigation nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 120px;
  margin-top: 10px;
  font-size: 22px;
}

header .navigation nav a {
  margin-right: 30px;
  position: relative;
  transition: 0.3s;
}

header .navigation nav a:hover {
  cursor: pointer;
  font-weight: bold;
}

header .navigation nav a:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 130%;
  background: #d77ced;
}

header .navigation nav button {
  background: none;
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
}

header .content {
  margin-top: 100px;
  text-align: center;
}

header .content h1 {
  font-size: 58px;
}

header .content span {
  font-style: italic;
}

header .content p {
  font-size: 20px;
}

p:nth-child(odd) {
  margin-top: 20px;
}

header .content button {
  background: #1fbaf2;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  margin-top: 32px;
  cursor: pointer;
}

header .content button img {
  position: relative;
  background: url(../icons/play_icon.svg);
  top: 7px;
  margin-right: 10px;
}



/* 
------------------------------
    MAIN CONTENT STYLES 
------------------------------
*/
main .works {
  background: #3e393f;
  height: 35vh;
  text-align: center;
  padding: 20px 20% 20px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main .works h2 {
  font-size: 38px;
}

main .works p {
  font-size: 20px;
  line-height: 1.5;
}

main .works button {
  font-size: 18px;
  border: none;
  background: #d55eec;
  color: #fff;
  border-radius: 40px;
  padding: 20px 40px;
  cursor: pointer;
}

main .solutions {
  background: #fff;
  height: 45vh;
  color: #666666;
  text-align: center;
}

main .solutions h2 {
  font-size: 38px;
  margin: 60px 0px 60px 0px;
}

main .solutions .container {
  display: flex;
  min-height: 300px;
  justify-content: space-around;
}

main .solutions .container div {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 0px 20px 0px 20px; */
}

main .solutions .container div h3 {
  font-size: 24px;
}

main .solutions .container div p {
  font-size: 18px;
  line-height: 1.2;
}

main .services {
  position: relative;
  color: #666666;
  height: 1300px;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

main .services div {
  width: 600px;
  height: 400px;
}

main .services h2 {
  font-size: 38px;
  margin: 38px 0px 28px 0px;
  position: relative;
  margin-left: 30px;
}

main .services h2:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: -30px;
  background: #db7fee;
  border-radius: 50%;
}

main .services p {
  font-size: 18px;
  line-height: 1.5;
}

main .services .one-desc {
  order: 1;
}

main .services .one-img {
  background: url(../images/customer_support.png);
  background-size: cover;
  background-position: center;
  order: 4;
}

main .services .two-desc {
  order: 5;
}

main .services .two-desc h2,
.two-desc p {
  margin-left: 120px;
}

main .services .two-img {
  background: url(../images/strategy.png);
  background-size: cover;
  background-position: center;
  order: 2;
}

main .services .three-desc {
  order: 3;
}

main .services .three-img {
  background: url(../images/grow_your_business.png);
  background-size: cover;
  background-position: center;
  order: 6;
}



/* 
------------------------------
    FOOTER STYLES 
------------------------------
*/
footer .socials {
  background: #fbfbfb;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}

footer .socials div {
  width: 600px;
  height: 100%;
}

footer .socials .four-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .socials .four-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .socials h4 {
  font-size: 32px;
}

footer .socials p {
  font-size: 18px;
  line-height: 1.5;
}

footer .socials button {
  border: none;
  border-radius: 40px;
  padding: 20px 40px 20px 80px;
  margin-top: 32px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #fff;
}

footer .socials button:nth-child(1) {
  background: #3b5999;
}

footer .socials button:nth-child(2) {
  background: #a93694;
}

footer .socials button::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  top: 0px;
  left: 66px;
}

footer .socials img {
  position: absolute;
  left: 24px;
  top: 18px;
}

footer .contacts {
  background: #3e393f;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

footer .contacts div {
  width: 600px;
  height: 100%;
}

footer .contacts .five-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer .contacts h4 {
  font-size: 32px;
}

footer .contacts p {
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
}

footer .contacts .five-desc img {
  width: 250px;
}

footer .contacts .five-img {
  position: relative;
}

footer .contacts .five-img a {
  text-decoration: none;
  color: #28679a;
}

footer .contacts .five-img span {
  left: 30%;
}

footer .contacts .five-img a,
span {
  font-size: 20px;
  top: 50%;
  position: relative;
}

footer .contacts .five-img p {
  color: #5b575d;
  top: 70%;
  position: absolute;
}
